body{
	background-color: #eeeeee;
}
#head:hover{
	cursor: pointer;
}
.head{
	background: #22bdf3;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 10px;
}
.block{
	text-align: center;
}
.menu{
}
#option-bar1{
	margin-right: 5%;	
}
#option-bar2{
}
#option-bar3{
	margin-left: 5%;
}